<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Entrar</mat-card-title>
  </mat-card-header>


  <mat-card-content>
    <form [formGroup]="form">
      <span>Email ou nome de usuário<br></span>
      <mat-form-field>
        <input matInput formControlName="nome" >
      </mat-form-field>

      <span><br>Senha<br></span>
      <mat-form-field>
        <input matInput formControlName="senha" [type]="hide() ? 'password' : 'text'" />
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </mat-card-content>


  <mat-card-actions>
    <button mat-flat-button color="#01D5FE" (click)="onSubmit ()" >Entrar</button>
  </mat-card-actions>
</mat-card>
