.button-row {
    font-size: 20px;    /* Adjust font size */
    padding: 16px 24px; /* Adjust padding for larger buttons */
    height: 60px;       /* Adjust height */
    background-color: dimgray;
  }
  
.button-icon {
    font-size: 30px;    /* Adjust font size */
    padding: 16px 24px; /* Adjust padding for larger buttons */
    height: 60px;       /* Adjust height */
    margin-left: 7%;
    background-color: white;
  }

  .button-icon:hover {
    background-color: darkgray;
  }

.title {
    text-align: left;
    margin-left: 7%;
    color: white;
    font-size: 3em;
  }
  