<h2 class="title">Nível 1</h2>

<section>
    <div class="button-row">
      <button mat-button style="color: dimgray;" class="button-icon" (click)="onButtonClick()">1</button>
      <button mat-button style="color: dimgray;" class="button-icon">2</button>
      <button mat-button style="color: dimgray;" class="button-icon">3</button>
      <button mat-button style="color: dimgray;" class="button-icon">4</button>
      <button mat-button style="color: dimgray;" class="button-icon">5</button>
      <button mat-button style="color: dimgray;" class="button-icon">6</button>
    </div>
  </section>

<h2 class="title">Nível 2</h2>

<section>
    <div class="button-row">
      <button mat-button style="color: dimgray;" class="button-icon">1</button>
      <button mat-button style="color: dimgray;" class="button-icon">2</button>
      <button mat-button style="color: dimgray;" class="button-icon">3</button>
      <button mat-button style="color: dimgray;" class="button-icon">4</button>
      <button mat-button style="color: dimgray;" class="button-icon">5</button>
      <button mat-button style="color: dimgray;" class="button-icon">6</button>
    </div>
  </section>

<h2 class="title">Nível 3</h2>

<section>
    <div class="button-row">
      <button mat-button style="color: dimgray;" class="button-icon">1</button>
      <button mat-button style="color: dimgray;" class="button-icon">2</button>
      <button mat-button style="color: dimgray;" class="button-icon">3</button>
      <button mat-button style="color: dimgray;" class="button-icon">4</button>
      <button mat-button style="color: dimgray;" class="button-icon">5</button>
      <button mat-button style="color: dimgray;" class="button-icon">6</button>
    </div>
  </section>