<h2 class="title">Nível 1</h2>

<section>
    <div class="button-row">
      <button mat-button class="button-icon" (click)="onButtonClick()">1</button>
      <button mat-button class="button-icon" (click)="onButtonClick()">2</button>
      <button mat-button class="button-icon" (click)="onButtonClick()">3</button>
    </div>
  </section>

<h2 class="title">Nível 2</h2>

<section>
    <div class="button-row">
      <button mat-button class="button-icon" (click)="onButtonClick()">1</button>
      <button mat-button class="button-icon" (click)="onButtonClick()">2</button>
      <button mat-button class="button-icon" (click)="onButtonClick()">3</button>
    </div>
  </section>

<h2 class="title">Nível 3</h2>

<section>
    <div class="button-row">
      <button mat-button class="button-icon" (click)="onButtonClick()">1</button>
      <button mat-button class="button-icon" (click)="onButtonClick()">2</button>
      <button mat-button class="button-icon" (click)="onButtonClick()">3</button>
    </div>
  </section>
