.full-width {
  width: 100%;
}

.min-width {
  width: 100%;
  min-width: 200px;
}

mat-card {
  max-width: 80%;
  margin: 1em auto;
  text-align: center;
  background-color: dimgray;
  border-color: white;
}